.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #800000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  font-family: "Comfortaa", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  // &.active {
  //   background-color: white;
  //   color: black;
  // }

  .navbar-container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 0px;
    .logo {
      display: flex;
      flex-direction: row;
    }
    .logo .link {
      display: flex;
      align-items: center;
      width: 250px;
    }
    .logo .text {
      font-size: 34px;
      font-weight: bold;
    }
    .navbar__logo-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbar__logo-img img {
      width: 40px;
      height: 40px;
    }
  }

  .right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;
      span {
        white-space: nowrap;
      }

      .white-button-signIn {
        align-items: center;
        background-color: #ffffff;
        border-radius: 100px;
        box-sizing: border-box;
        border-width: 3px;
        border-style: solid;
        border-color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: inherit;
        font-size: 16px;
        font-weight: normal;
        justify-content: center;
        color: #000000;
        /*line-height: 20px;*/
        max-width: 460px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
      }
      .white-button-signIn a{
          color: #000000;
          text-decoration: none;
      }
      .white-button-signIn:hover,
      .white-button-signIn:focus { 
          background-color: #dddddd;
          transition: background-color 0.5s;
      }

      .white-red-button {
        align-items: center;
        background-color: #800000;
        border-radius: 100px;
        border: 3px solid #ffffff;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        font-family: inherit;
        font-size: 16px;
        font-weight: normal;
        justify-content: center;
        color: #ffffff;
        /*line-height: 20px;*/
        max-width: 460px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow rgba(0, 0, 0, 0.24) 0px 3px 8px, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
      }
      .white-red-button a{
          color: #ffffff;
          text-decoration: none;
      }
      .white-red-button:hover,
      .white-red-button:focus { 
          background-color: #dddddd;
          color: #000000;
          transition: background-color 0.5s;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 14px;
          width: 200px;

          .dropdown-link {
            text-decoration: none;
            font-weight: 300;
            color: #000000;
            transition: color 0.3s ease;
          }

          .dropdown-link:hover {
            color: #800000;
            font-weight: 600;
          }
        }
      }

      .language-toggle {
        background-color: white !important;
        color: #000000 !important;
        border: 1px solid #000000 !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .language-toggle:hover,
      .language-toggle:focus { 
        background-color: #dddddd;
        transition: background-color 0.5s;
        color: #000000;
      }
    }
  }

